<form class="column-form" (submit)="(onSubmit($event))">
	<div class="form-grid">
		<div class="form-group">
			<label class="form-label" for="name"> Name </label>
			<input id="name" class="form-input" type="text" placeholder="Column A" [formField]="columnForm.name" />

			@if(columnForm.name().invalid() && columnForm.name().touched()){
			<div class="error">
				@for (error of columnForm.name().errors(); track error.kind){
				<span> {{error.message}}</span>
				}
			</div>
			}
		</div>

		<div class="form-error">
			@if (error()) {
			<div class="error">
				<span>{{ error() }}</span>
			</div>
			}
		</div>

		<div class="form-actions">
			<button class="btn btn-primary" type="submit" [disabled]="columnForm().invalid()">
				Add Column
			</button>
			<button class="btn btn-secondary" type="button" [routerLink]="['/projects', projectId, 'boards', boardId]">
				Cancel
			</button>
		</div>
	</div>
</form>