<div class="project-element">
	@if (project.isLoading()) {
	<div class="loading">Loading...</div>
	} @else if (project.error()) {
	<div class="error">Error loading project</div>
	} @else {
	<h2 class="project-name">Name: {{project.value()?.name}}</h2>
	<div class="project-key">Key: {{project.value()?.key}}</div>
	@if (project.value()?.description) {
	<div class="project-description">Description: {{project.value()?.description}}</div>
	}
	<app-board-list [projectId]="project.value()!.id"></app-board-list>
	<app-member-list [project]="project.value()!" (memberAdded)="onMemberAdded()" (memberRemoved)="onRemoveMember($event)"></app-member-list>
	}
	<button routerLink="/projects">Go back</button>
</div>